<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Me/Websites Edit Template</title>   
    </head>
    <body>
        <!-- Upload form. Note enctype attribute! -->
        <p> Edit the website below, then hit submit: </p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p><input type="text" name="site_name" value={{item.site_name}} </p>
            <p><input type="text" name="site_link" value={{item.site_link}} </p>
            <p><input type="text" name="description" value={{item.description}} </p>
            <p><input type="submit" value="Submit" /></p>
        </form>
    </body>
</html> 
