{% extends "base.html" %}


{% block form_area %}
<section class="loginSecTog">
	<ul id="pass_res">
		<h1>Password Reset</h1>
	</ul>

	<form class="writeIn" action=""   method="post">
	{% csrf_token %}

	{% if form.email.errors %}
	<section class="err tall">
		{{form.email.errors}}
	</section>
	<script type="text/javascript">
	$(function(){$('span#plcehld').hide();});
	</script>
	{% endif %}
	<div id="double_wrapper">
		<span id="plcehld">email</span>
		{{ form.email }}
	</div>
	<input type="submit" value='Reset' /></p>
	</form>

	<p>Forgotten your password?</p>
	<p id="smaller">Enter your e-mail address above, and we'll e-mail instructions for setting a new one.</p>


{# @OVERALL errors if goes here #}


</section>

{% endblock %}
