{% extends "base.html" %}
{% block title %}riotry | Build Yourself{% endblock %}

		{% block form_area %}
<!--_______________________________________________________________________________________@Build-->
		<section id="buildU">
			<h5> build yourself </h5>
				<ul>
					<a href="index.html"><li><div class="netRect"></div>Upload profile picture</li></a>
					<a href="index.html"><li><div class="catRect"></div>Upload a Doing</li></a>
					<a href="index.html"><li><div class="catRect"></div>Search for Passions</li></a>
					<a href="index.html"><li><div class="meRect"></div>Add title</li></a>
					<a href="index.html"><li><div class="meRect"></div>Search for friends</li></a>
					<a href="index.html"><li><div class="brandRect"></div>Create a brand</li></a>
					<a href="index.html"><li><div class="brandRect"></div>Join a brand</li></a>
				</ul>
		</section>

		{% endblock %}