
//
// Riotry Dropdowns
// Essential ellements that repeat thoughout the whole network
// Copyright 2013 by Paul Andre Rada
// Designed to the added as @extends into the corresponding tags.


@import "_tools";
@import "_skeleton";

//============================================
// @ICONS
// ===========================================
.es-header-icon-anchor {
	@extend .sg-icon-anchor-header;
	display: block;
	width: 100%;
	height: 100%;
	padding: auto 5.5px 0 5.5px;
}//HOVER
.es-header-icon-anchor-hover {
	@extend .sg-icon-hover-anchor-header;
}

//============================================
// @USER BASICS
// ===========================================
.es-img-thumbnail-basic {
	@extend .sg-img-thumbnail-basic;
	float: left;
	width: auto;
	height: 50px;
	margin: 0px 0px;
	padding: 0;
}

.es-img-thumnail-small {
	@extend .es-img-thumnail-basic;
	height:33px;
}

//============================================
//============================================
// 					@CONTENT
// ===========================================
// ===========================================


// ===========================================
//	@ITEM CONTAINERS
// ===========================================
/// @FULL IMAGE RATIO


//@SMALL @ITEM CONTAINER 
// ===========================================

//ITEM STYLE CONTAINER
.es-item-style-container-small { 
	display: inline-block;
	width: auto;
	height: auto;
	overflow: auto;
	margin-top: 5px;
 	margin-bottom: 10px;

 	//style
	border: 1px solid $primary-border-color;
}

//IMAGE CONTAINER
.es-item-main-container-small {
	@include columns(5);
 	margin-top: 5px;
 	margin-bottom: 10px;
 	padding: 4px 0 0;
 	vertical-align: bottom;


}


//IMAGE
.es-item-container-small-image {
	@include constColumn(195px, none,5px);
}
//SMALL INPUT
.es-item-container-small-input {
 	width: 100%;
 	height : auto;
 	margin: 5px auto 0;
 	border: 1px solid $primary-border-color;
}

//SMALL TEXTAREA
.es-item-container-small-textarea {
	width: 100%;
 	height : 65px;
 	margin: 5px auto 0;
 	border: 1px solid $primary-border-color; 
 	resize:none;
}

//UTITLITY BAR
.es-item-container-small-utility-bar {
	height: 20px;
 	width: 100%;
 	background: $primary-border-color;
}



//INFO AREA CONTAINER
.es-item-container-info-container-small {
	display: inline-block;
	width : 100%;
	height: 50px;
	padding: 0 5px;
}//NEST

//TITLE 
.es-item-container-info-title {
	@extend .sg-item-title-small;
	display: inline-block;
}


// ===========================================
//	@ITEM CONTAINERS
// ===========================================
/// backend @CROPPED IMAGE ONLY


$container-content-width  : 186px;
$container-content-height : 200px;
$container-margin-bot	  : 8px; 

//Inside Item
$item-out-margin-size   : 2px; 
$item-margin 			: $item-out-margin-size/2;
$item-divider-size 		: 6px;
$image-container-width  : $container-content-width - ($item-out-margin-size * 3);
$image-size 			: $container-content-width;


//=============================================
//@DOINGS CONTAINER
//=============================================
.es-doings-item-main-container {

		@include columns(18);
		height: 260px;
		padding-top: 10px;

		//style
		border: 1px solid $primary-border-color;
		@media only and (min-width: $mobile-size-break ){
			margin: 0 10px;
		}
}		



//@ITEM CONTAINER
//===========================================

//Parent Nest
.es-cropped-item-main-container-small {	
	@extend .sg-item-container-small;
	@include columns(1);
	@include omega;
		
	width: $container-content-width;
	height: auto;
	margin-bottom: $container-margin-bot;
	padding:$item-out-margin-size $item-out-margin-size $item-divider-size;
}
//IMAGE CONTAINER
.es-cropped-item-image-container-small {
		@extend .hk-image-crop-container;
		@include constColumn($image-container-width, $container-content-height, 0);
		margin-left: $item-margin;
}
//CROPPED IMAGE
.es-cropped-item-image-small {
			width: 100%;
			display: inline-block;
			max-width: 300px; 
			@include centerImgX($image-container-width,$image-container-width);
}
//META CONTAINER
.es-cropped-item-title-meta-container {
		width: $container-content-width - ($item-out-margin-size * 4);
		height: 0px;
		margin-top: $item-divider-size;
		margin-left: $item-margin;
}
//TITLE 
.es-cropped-item-title {
			@extend .sg-item-title-small;
			@include font-size(14);
			float: left;
}
//DATE 
.es-cropped-item-date {
			@extend .sg-item-date-small;
			float: right;
			margin-top:5px;
			@include font-size(10);
}
//OPTIONS BUTTON
.es-cropped-item-option-button {
	@extend .sg-options-drop-button;
			display: inline-block;
			float: right;
} 

//DOINGS ITEM SIDE FORMS
.es-doings-item-forms {
	@include columns(11);
}
 

//INPUTS
.es-doings-item-forms-input {
	@extend .fe-title-basic-input;
	@include columns(11);
}

//TEXTAREA
.es-doings-item-forms-textarea {
	@extend .fe-body-basic-textarea;
	@include columns(11);
	max-height: 170px;	
}

//BUTTONS
.es-doings-item-buttons {
		@extend .sg-edit-trigger-button;
		@include columns(2);
		@include omega;
		height: 30px;
		margin-left: -5px;
		margin-bottom: 10px;
}

